.homecontainer {
  margin-top: 1rem;
  min-height: 81vh;
}

.card-img-top {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.col-md-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card:hover {
  transform: scale(1.05);
}

.pagination .page-link {
  color: #46a1e9;  
  border-color: #46a1e9;  
}

.pagination .page-link:hover {
  background-color: #46a1e9;  
  color: #fff; 
}

.pagination .active .page-link {
  background-color: #46a1e9; 
  border-color: #46a1e9;  
  color:#fff;
}